
.login-form{
    padding-top:30px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 30px;
}

.login-text{
    text-align: center;
}
.login-text > p{
    font-size: 25px;
    font-weight: bolder;
}
.button{
    width:100% !important;
}
.forgot-pass-div{
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
}
.forgot-pass {
    font-size:12px;
}

.signup-section{
    padding-top:10px;
}
